:root {
  --accent1: #ff8d8d;
  --accent2: #75bbff;
}
body {
    margin: 0;
    padding: 0;
    background: #111; /* 黒背景 */
    color: #eee; /* 明るい文字色 */
    font-family: "Noto Sans JP", sans-serif;

    align-items: center;
    height: 100vh;
}

.container {
    width: 800px;
    margin: 150px auto;
    text-align: center;
    padding: 40px 60px;
    background: #1b1b1b;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(255,255,255,0.6);
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2em;
    letter-spacing: 2px;
}

p {
    margin-bottom: 30px;
    font-size: 1.1em;
    color: #ccc;
}

/* ボタン */
.start-btn {
    background: #333;
    color: #f0f0f0;
    border: 1px solid #666;
    padding: 12px 28px;
    font-size: 1.1em;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.start-btn:hover {
    background: #555;
    border-color: #aaa;
}

#games {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.game {
    border: white 1px solid;
    padding: 10px 20px;
    height: 75px;
    width: 120px;
    cursor: pointer;
}
.game span {
    display: block;
}

/* 切替トグル */
.toggle-button {
    display: flex;
    align-items: center;
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    box-sizing: content-box;
    background-color: #888;
    cursor: pointer;
    transition: background-color .4s;
}

span#shogi {
    color: color-mix(in srgb, var(--accent1), transparent 34%);
    font-weight: 400;
    transition: all 0.5s ease;
    cursor: pointer;
}
.toggle-button:not(:has(:checked)) + span#shogi {
    color: var(--accent1);
    font-weight: bold;
    transform: scale(1.1);
}
span#chess {
    color: color-mix(in srgb, var(--accent2), transparent 34%);
    font-weight: 400;
    transition: all 0.5s ease;
    cursor: pointer;
}
.toggle-button:has(:checked) ~ span#chess {
    color: var(--accent2);
    font-weight: bold;
    transform: scale(1.1);
}

.toggle-button::before {
    position: absolute;
    left: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--accent1);
    content: '';
    transition: left .4s;
}

.toggle-button:has(:checked)::before {
    left: 30px;
    background-color: var(--accent2);
}

.toggle-button input {
    display: none;
}